#mainpanel {
  text-align: center;
}


.container {
}

ol {
  text-align: left;
}

p, ol, li, h1, .white, label {
  color: white;
}

.white {
  font-size: 44px;
  font-family: sans-serif;
}

ol, label {
  font-size: 24px;
}

#bg {
  position: fixed; top: 0; left: 0;
  max-width: 100%;
}


.col-md-6 {
  margin-top: 30%;
}

button {
  margin-top: 25px;
  font-size: 40px;
  font-family: sans-serif;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

h3 {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #66d9ff;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}
