@import url('https://fonts.googleapis.com/css?family=Kavoon');

body {
  background-image: url("../img/ping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Kavoon', cursive;;
  font-size: 200px;
  color: red;
  text-align: center;
}

.jumbotron {
  background: white;
}
.container {
  overflow-wrap: normal;
  overflow-wrap: breakword;
  word-wrap: break-word;
}
ol, ul {
  text-align: left;
  list-style: none;
  color: gray;
}
p, ol, li, .white, label {
  color: gray;
}
.white {
  font-size: 44px;
  font-family: sans-serif;
}
ol, label {
  font-size: 24px;
}

.col-md-6 {
  overflow-wrap: normal;
  overflow-wrap: breakword;
  word-wrap: break-word;
}
button {
  margin-top: 25px;
  font-size: 40px;
  font-family: sans-serif;
}
.button {
    position: relative;
    background-color: green;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: red;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
h3 {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #gray;
  letter-spacing: -2px;
}
h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 40px;
  line-height: 60px;
  color: #gray;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
  text-align: center;
}
body {
  background-color: pink;
  overflow-wrap: normal;
  overflow-wrap: breakword;
  word-wrap: break-word;
}
.result {
  font-size: 14px;
}
.panel {
  height: auto;
}
